div {
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.link {
  margin-right: 5px;
}

a:link {
  text-decoration: none;
}
